$font-color: #525252;
$err-color: #fff;

$blue-dark: rgba(42,108,244,1);
$blue-light: rgba(39,160,190,1);


@mixin f_col_center {
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
}

@mixin f_row_center {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin form_fields_bg {
    background: #f4f4f4;
    border: 1px solid $font-color;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Fredoka", sans-serif;
}

body {
    background: $blue-dark;
    background: linear-gradient(45deg, $blue-dark 0%, $blue-light);
    height: 100vh;
    width: 100vw;
    padding: 5vh 10vh;
}

h1 {
    color: $font-color;
    font-weight: 300;
    font-size: 3em;
}
h2 {
    font-weight: 500;
    font-size: 1.75em;
    color: $font-color
}

i {
    font-size: 62px;
    color: #000;

    &:hover {
        color: #fff;
    }
}

.container {
   @include f_col_center;

    .userInput {
        display: flex;
        flex-flow: row nowrap;
        background: #fff;
        justify-content: space-between;
        padding: 2vw;
        border-radius: 10px;
        height: 50vh;
        -webkit-box-shadow: 0px 5px 19px 1px rgba(0,0,0,0.4); 
        box-shadow: 0px 5px 19px 1px rgba(0,0,0,0.4);

        .left {
            @include f_row_center;
            width: 10%;
            height: 100%;
            width: 75%;
        }

        .right {
            @include f_col_center;
            height: 100%;

            form {
                @include f_col_center;
                text-align: center;

                label {
                    font-weight: 500;
                    margin-bottom: 10px;
                    font-size: 20px;
                    color: $font-color;

                }
                select {
                    @include form_fields_bg;

                    -webkit-appearance: none;
                    &:hover {
                        cursor: pointer;
                    }
                    width: 75%;
                    height: 48px;
                    padding: 0px 20px;
                    border-radius: 30px;
                    margin-bottom: 30px;
                    font-size: 18px;
                    color: $font-color;
                }
                .btn {
                    width: 25%;
                    margin: 10px;
                    border: none;
                    height: 38px;
                    background-color: #49c83a;
                    border-radius: 15px;
                    color: #fff;
                    font-weight: 400;
                    font-size: 20px;
                    cursor: pointer;
                }
                textarea {
                    @include form_fields_bg;
                    resize:vertical;
                    width: 75%;
                    padding: 0px 20px;
                    border-radius: 10px;
                    padding: 15px 20px;
                    color: $font-color;
                    &::placeholder {
                        color: $font-color;
                    }
                }
            }
        }
    }

    pre {
        margin-top: 40px;
        font-family: "Courier New", Courier, monospace;
        font-weight: bold;
        height: 35vh;
        overflow-y: scroll;
        width: 75%;
        text-align: left;
    }


    // ------------- Error msg

    .err {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        height: 30vh;

        h1 {
            color: $font-color;
        }
        
        
        margin-bottom: 10vh;
    }

    .return {
        text-align: center;
        p {
            font-size: 1.25em;
        }

    }
}


// test tabs

.tabset > input[type="radio"] {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
  
  .tabset .tab-panel {
    display: none;
  }

  .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2)
 {
  display: block;
}

.tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 20px;
    cursor: pointer;
    font-weight: 600;
    color: $font-color;

  }
  
  .tabset > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 0px;
    height: 2px;
  }
  
  .tabset > label:hover,
  .tabset > input:focus + label {
    color: $blue-light;
  }

  .tabset > input:focus + label::before,
  .tabset > input:checked + label::before {
    background: $blue-dark;
  }
  
  .tabset > input:focus + label::after,
  .tabset > input:checked + label::after {
    background: $blue-dark;
    width:80%;
  }
  
  